body
{

    font-size: 16px;
    margin: 0px auto;
    max-width: 1024px;
    min-width: 1024px;
}
header nav
{
    text-align: center;
    margin-top: -50px;
    color: gray;
}
header nav ul li
{
     /* para que esten en horizontal */
     display: inline-block;
     /* margen derecho para separarlas∫*/
     margin-right: 20px;
     border-radius: 10px;

}
#sec1art1
{
    width: 60%;
    padding-left: 5px;
}
#sec1art2
{
    padding-left: 5px;
}
#seccion2 article 
{
    margin-top: 100px;
    width: 100%;
    margin-bottom: 20px;
}
#seccion2 article span
{
    width: 100%;
}
#seccion3 article
{
    /* que se acomoden horizontalmente */
    display: inline-block;
    /* la alineacion vertical hacia arriba */
    vertical-align: top;
    width: 24.5%;
    margin-top: -170px;
    padding: 10px 0px;
    
}
#imgsentado
{
    position: relative;
    top: -267px;
    float: right;
}
#btnchange
{
    text-align: center;
    background-color: white;
    border: 1px red solid;
    border-radius: 5px;
    padding: 5px 10px;
    color: red;
    float: right;
    margin-top: -40px;
    margin-right: 100px;
}
#btncontact
{
    text-align: center;
    background-color: red;
    border: 1px red solid;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    float: right;
    margin-top: -40px;
    margin-right: 25px;
}
#imgsentado
{
    position: relative;
    margin-left: 500px;
}
.nito
{
    /* para poner negritas */
    font-weight: bold;
}
.letragrande
{
    font-size: 3em;
}
.letramediana
{
    font-size: 1em;
}
.gris
{
    color: gray;
}