/* LO 1RO ES la configuracion general */
/* estamos trabajando en el body, todo en el body se hereda */
/* 16px = 1em (la letra M) */
body
{
    /* agregar un borde rojo para saber donde estan acomodados*/
    border: 1px solid red;
    font-size: 16PX; /*1em*/
    /* margenes de adentro hacia afuera. parametos:
    1 para todos los lados
    2 (arriba/abajo), (isquierda/derecha)
    4 arriba,derecha,abajo,izquierda
    margenes positivos hace grande, negativos hace chico*/
    /* distribuye automaticamente el margen que te sobre (auto) /2 */
    margin: 0px auto;
    /* MAXIMO DE ancho de la pantalla  */
    max-width: 1024PX;
} 
header
{
    /* PARA AGREGAR FONDO */
    background: #D1E3EE;
}
header nav 
{
    /* BORDER REDONdo */
    border-radius: 5px;
    /* para poner fondo */
    background: #026DC6;
    margin: 0px auto;
    /* bordes internos */
    padding: 2px 0px;
    width: 99%;
}
header nav form
{
    /* se acomodò a la derecha  */
    float: right;
    margin-right:10px;
    /* mover la caja para arriba*/
    margin-top: -35px;
}
header nav form input
{
    border-radius: 5px;
}
header nav form input[type="submit"]
{
    background: green;
    border: 1px solid green;
    color: white;
}
header nav ul li
{
    /* borde */
    /*border: 1px solid red;*/
    /* color de letra */
    color:white;
    /* para que esten en horizontal */
    display: inline-block;
    /* margen derecho para separarlas∫*/
    margin-right: 20px;
}
/* los id se ponen con # */
#logo /* id = "logo"*/
{
    /*se puede hacer de 2 formas */
    margin: -150px 0px 0px 0px;
    /*margin-top: -150px; */
}
#seccion01
{
/* PARA Empujar la caja hacia abajo */
 margin-top: 15px;
}
#seccion01 article 
{
/* centrar todo lo que està dentro del article */
 text-align: center;
}
#seccion01 article img
{
    /* para poner un borde a la imagen */
    border: 5px solid rgba(150, 150, 150, 0.3);
    /* ancho de la imagen (mas grande o mas chica) */
    width: 98%;

}
#seccion02 article
{
    /* se acomodan horizontalmente */
    display: inline-block;
    /* para alinear los separadores arriba */
    vertical-align: top;
    /* ajustar el texto al 33% de la pantalla 
    siempre tomar en cuenta los margenes, no poner numeros 
    exactos, siempre poner un poco menos*/
    width: 32.8%;
}
#seccion02 article input[type="submit"]
{
    background: white;
    border-radius: 5px;
    color: blue;
    margin-left: 35%; /*130px*/
}
/* las clases son por . */
.nito
{
    /* para poner negritas */
    font-weight: bold;
}
.otraSeccion
{
    /* cambiar tamaño de la fuente proporcional a la linea 8*/
    font-size: 2.5em; /*2.5 x 16*/
}
.unaSeccion
{
    /* cambiar tamaño de la fuente proporcional a la linea 8*/
    font-size: 4.5em; /*4.5 x 16*/
}