html
{
    /* propiuedades personalizables */
    --color-verde: #849c3c;
    --color-negro: #353535;
    --color-rojo: #D33040;
    --color-gris: lightgray;
    --fondo-negro: #2C2C2C;
    --color-linea: #949494;
    --color-azul: lightblue;
    --color-blanco: white;
}
body
{
   
    font-size: 16px; /* 1en*/
    margin: 0px auto; /* centradp*/
    max-width: 1024PX;
}
footer article
{
    display:  inline-block;
    margin-top: 20px;
    padding: 10px;
    vertical-align: top;
    width: 31.1%;
    
}
footer img
{
    padding-left: 70px;
    width: 250px;
}
header ul
{
    margin-left:  -25px;
}
header ul li
{
    display: inline-block;
    margin-left: -10px;
    padding: 8px 14px;
    /* aliner texto al centro */
    text-align: center;
    width: 17.75%;
}
header ul li:nth-child(2)
{
    /* pintar fondo verde */
    background: var(--color-verde);
}
header ul li:nth-child(3)
{
    /* pintar fondo negro */
    background: var(--color-negro);
}
header ul li:nth-child(4)
{
    /* pintar fondo rojo */
    background: var(--color-rojo);
}
header ul li:nth-child(5)
{
    /* pintar fondo gris */
    background: var(--color-gris);
}
section article 
{
    display: inline-block;
    width: 17.9%;
    height: 280px;
    padding: 18px 8px;
    vertical-align: top;

}
section article ul
{
    list-style: none;
}
section article:nth-child(2)
{
    background: var(--color-verde);
}
section article:nth-child(3)
{
    background: var(--color-negro);
}
section article:nth-child(4)
{
    background: var(--color-rojo);
}
section article:nth-child(5)
{
    background: var(--color-gris);
}
hr
{
    border-style: dashed;
    color: var(--color-linea);
}
/* si ponemos , es un y, 2 cosas */
section,footer
{
    background: var(--color-negro);
}
section img
{
    width: 150px;
}
.letra-azul
{
    color: var(--color-azul);
}
.letra-blanca
{
    color: var(--color-blanco);
}
.letra-gris
{
    color: var(--color-linea);
}
.read-more
{
    /* border: 1px solid #D33040; */
    margin-left: 220px;
}
.tam-menu-lateral
{
    font-size: 1.1em;
}
.tam-tarjetas
{
    font-size: 1.7em;
}
